<section>
  <% @sessions.each do |session| %>
    <h3>
      Session #<%= session.id %>

      <small><%= l(session.created_at, format: :long) %></small>
    </h3>

    <ul>
      <% session.searches.order(:created_at).each do |search| %>
        <li><h5><%= search.query.value %></h5></li>
      <% end  %>
    </ul>

    <hr />
  <% end %>
</section>
